@page
@model AgendarModel
@{
    ViewData["Title"] = "Agendar Citas";
}

<div class="text-center">
    <h1 class="display-4">Agendar Citas</h1>
    <p>Programa para control de visitas para la UNED.</p>
</div>
