@page
@model ListarModel
@{
    ViewData["Title"] = "Listar Citas";
}

<div class="text-center">
    <h1 class="display-4">Listar Citas</h1>
    <p>Programa para control de visitas para la UNED.</p>
</div>
