@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Este programa fue diseñado por Alexander Goicoechea para el curso de Programación Avanzada Web a cargo el Tutor Norberth Brunner Agüero de la Universidad Estatal a Distancia.</p>
